<%= link_to "Compose", new_message_path %>
<table border="0">
	<% @messages.each do |message| %>
		<% sender = UserProfile.find(message.from_user) %>
		<tr>
			<td width="5%">
				<%= image_tag sender.picture.url(:thumb) %>		
			</td>
			<td width="10%">
				<%= link_to sender.display_name, "#" %>
			</td>
			<td width="20%">
				<%= link_to message.subject, "#" %>		
			</td>
			<td width="5%">
				<%= message.created_at.strftime("%b %d") %><br />
				<%= link_to 'Delete', message, method: :delete, data: { confirm: 'Are you sure?' } %><br />
				<%= link_to "Reply", "messages/new?reply=on&message_id="+message.id.to_s%>
			</td>
		</tr>		
		
	<% end %>
</table>
