<p id="notice"><%= notice %></p>
<ul class="list">
	<li class="list_item">
		<div class="group_logo">
			<%= image_tag @group.logo.url(:thumb) %>
		</div>
		<div class="group_summary">
			<%= link_to @group.group_name, @group %><br />
			<%= button_to "Join Group", "/groups/"+@group.id.to_s+"/join" %>
		</div>
		<div class="group_action">
			<%= link_to 'Group Profile', "/groups/"+@group.id.to_s+"/profile" %>
		</div>
	</li>
</ul>
<br clear="all" />
<div class="group_menu">
	<%= link_to "Discussions", "#" %>
	<%= link_to "Promotions", "#" %>
	<%= link_to "Search", "#" %>
	<%= link_to "More..", "#" %>
</div>
<br clear="all" />
<%= link_to "Start Discussion", new_group_discussion_path(@group) %>

<h3>Most Popular Discussions</h3>
<ul class="list">
	<% @group.discussions.each do |discussion| %>
	<br clear='all' />
	<li class="list_item">
		<div class="group_logo">
			<%= image_tag current_user.user_profile.picture.url(:thumb) %>
		</div>
		<div class="group_summary">
			<%= link_to "Discussion", group_discussion_path(@group) %><br />
			<%= discussion.summary %><br />
			<%= discussion.created_at %>
			<div class="comment">
				Comment about discussion
			</div>
		</div>
	</li>
	<% end %>
</ul>
<br clear='all' />
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
