<p id="notice"><%= notice %></p>
<ul>
	<li>
		<div class="group_logo">
			<%= image_tag @group.logo.url(:thumb) %>
		</div>
		<div class="group_summary">
			<%= link_to @group.group_name, @group %><br />
			<a href="#">Join Group</a>
		</div>
		<div class="group_action">
			<%= link_to 'Group Profile', "/groups/"+@group.id.to_s+"/profile" %>
		</div>
	</li>
</ul>
<br clear="all" />
<div class="group_menu">
	<%= link_to "Discussions", "#" %>
	<%= link_to "Promotions", "#" %>
	<%= link_to "Search", "#" %>
	<%= link_to "More..", "#" %>
</div>
<br clear="all" />
<%= link_to "Start Discussion", "#" %>
<h3>Most Popular Discussions</h3>
<ul>
	<li>
		<div class="group_logo">
			Discussion creator profile picture
		</div>
		<div class="group_summary">
			<%= link_to "Discussion", "#" %><br />
			Discussion in detail......<br />
			Post Date
			<div class="comment">
				Comment about discussion
			</div>
		</div>
		
	</li>
</ul>
<br clear='all' />
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
