<!--top_wrapper-->
<!--top_wrapper-->
<!--main_content_wrapper-->
<div id="main_content_wrapper">
	<!--left_wrapper-->
	<div id="left_wrapper">
		<!--groups_wrapper-->
		<div id="groups_wrapper">
			<div id="groups_heading">
				Groups
			</div>
			<!--group_search_wrapper-->
			<div id="group_search_wrapper">
				<form action="" method="post" name="frmGroup" id="frmGroup">
					<input type="text" name="txtGroup" id="txtGroup"  value="Search Groups" onfocus="if(this.value=='Search Groups'){this.value='';this.style.color='#000000';}" onblur="if(this.value==''){this.value='Search Groups';this.style.color='#999';}"/>
					<input type="submit" name="bttnGroup" id="bttnGroup"  value=""/>
				</form>
				<script>
				   	$("#txtGroup").keyup( function( event )
					{
					    if(event.keyCode == 13)
					    {
					        location.href = "/groups/search?query="+this.value;
					    }
					});
					$("#bttnGroup").click(function () {
						var query = $("#txtGroup").val();
						location.href = "/groups/search?query="+"query";
						return false;
					});
			   </script>
			</div>
			<!--group_search_wrapper ends-->
			<!--group_tbl_wrapper-->
			<div id="group_tbl_wrapper">
				<table border="0" class="tbl_group">
					<% if current_user %>
					<% if !current_user.groups.empty? %>
					<% current_user.groups.sample(3).each do |group, i| %>
					<% if i == 0 or i == 3 %>
					<tr>
						<% end %> <td>
						<div class="group_box">
							<div class="group_box_img">
								<a href="#"> <%= image_tag group.logo.url(:thumb) %> </a>
							</div>
							<a href="#" class="group_link1"><%= group.group_name %></a>
							<a href="#" class="group_link2">Subscribe</a>
						</div></td>
						<% if i == 0 or i == 3 %>
					</tr>
					<% end %>
					<% end %>
					<% end %>
					<% end %>
				</table>
			</div>
			<!--group_tbl_wrapper ends-->
			<div class="link_wrap">
				<a href="/groups/" class="groupMore">More>></a>
			</div>
		</div>
		<!--groups_wrapper ends-->
		<!--contacts_wrapper-->
		<div id="contacts_wrapper">
			<div id="contacts_heading">
				MY CONTACTS
			</div>
			<!--contacts_search_wrapper-->
			<div id="contacts_search_wrapper">
				<form action="" method="post" name="frmContacts" id="frmContacts">
					<input type="text" name="txtGroup" id="txtGroup"  value="Search Contacts" onfocus="if(this.value=='Search Contacts'){this.value='';this.style.color='#000000';}" onblur="if(this.value==''){this.value='Search Contacts';this.style.color='#999';}"/>
					<input type="submit" name="bttnContact" id="bttnContact"  value=""/>
				</form>
			</div>
			<!--contacts_search_wrapper ends-->
			<!--contacts_tbl_wrapper-->
			<div id="contacts_tbl_wrapper">
				<table border="0" class="tbl_contacts">
					<tr>
						<% @contacts.each do |contact| %> <td>
						<div class="contact_box">
							<div class="contact_box_img">
								<a href="#"><%= image_tag contact.user_profile.picture.url(:thumb)%></a>
							</div>
							<a href="#" class="contact_link"><%= contact.user_profile.display_name %></a>
						</div></td>
						<% end %>
					</tr>
				</table>
			</div>
			<!--contacts_tbl_wrapper ends-->
			<div class="link_wrap">
				<a href="/connections/" class="contactsMore">More>></a>
			</div>
		</div>
		<!--contacts_wrapper-->
		<!--advertisements_wrapper-->
		<div id="advertisements_wrapper">
			<div id="advertisements_heading">
				ADVERTISEMENTS
			</div>
			<!--advertisement_tbl_wrapper ends-->
			<div id="advertisement_tbl_wrapper">
				<table border="0" class="tbl_advertisement">
					<tr>
						<td>
						<div class="advertisement_box">
							<div class="advertisement_box_img">
								<a href="#"><img src="/assets/add/add1.jpg" border="0" /></a>
							</div>
						</div></td>
						<td>
						<div class="advertisement_box">
							<div class="advertisement_box_img">
								<a href="#"><img src="/assets/add/add2.jpg" border="0" /></a>
							</div>
						</div></td>
						<td>
						<div class="advertisement_box">
							<div class="advertisement_box_img">
								<a href="#"><img src="/assets/add/add3.jpg" border="0" /></a>
							</div>
						</div></td>
					</tr>
					<tr>
						<td>
						<div class="advertisement_box">
							<div class="advertisement_box_img">
								<a href="#"><img src="/assets/add/add4.jpg" border="0" /></a>
							</div>
						</div></td>
						<td>
						<div class="advertisement_box">
							<div class="advertisement_box_img">
								<a href="#"><img src="/assets/add/add5.jpg" border="0" /></a>
							</div>
						</div></td>
						<td>
						<div class="advertisement_box">
							<div class="advertisement_box_img">
								<a href="#"><img src="/assets/add/add6.jpg" border="0" /></a>
							</div>
						</div></td>
					</tr>
					<tr>
						<td>
						<div class="advertisement_box">
							<div class="advertisement_box_img">
								<a href="#"><img src="/assets/add/add7.jpg" border="0" /></a>
							</div>
						</div></td>
						<td>
						<div class="advertisement_box">
							<div class="advertisement_box_img">
								<a href="#"><img src="/assets/add/add8.jpg" border="0" /></a>
							</div>
						</div></td>
						<td>
						<div class="advertisement_box">
							<div class="advertisement_box_img">
								<a href="#"><img src="/assets/add/add9.jpg" border="0" /></a>
							</div>
						</div></td>
					</tr>
				</table>
			</div>
			<!--advertisement_tbl_wrapper ends-->
			<div class="link_wrap">
				<a href="#" class="advertisementMore">More>></a>
			</div>
		</div>
		<!--advertisements_wrapper ends-->
	</div>
	<!--left_wrapper ends-->
	<!--right_wrapper-->
	<div id="right_wrapper">
		<!--right_top_wrapper-->
		<div id="right_top_wrapper">
			<div id="right_top_wrapper_left">
				<img src="/assets/icon.jpg" border="0" />
			</div>
			<!--right_top_wrapper_right-->
			<div id="right_top_wrapper_right">
				<div id="top_welcome">
					Welcome, <%= current_user.first_name %> <%= current_user.last_name %>! See Who Already Know on Go global
				</div>
				<div id="top_welcome_bottom">
					Get Started by adding your email address.
				</div>
				<!--top_mail_wrapper-->
				<div id="top_mail_wrapper">
					<div id="mail_left">
						<%= form_for @user_profile, :url => '/user_profiles/email_add/'+ @user_profile.user_id.to_s, :html => {:method => :put, :id => "frmEmail"} do |f| %>
							<table border="0" class="tbl_email">
								<tr>
									<td><label> Your email :</label></td>
									<td>
									<%= f.email_field :email_assoc, :id => "txtEmail" %>
									</td>
									<td>
									<%= f.submit "Continue", :id => "bttnEmail" %>
									</td>
								</tr>
							</table>
						<% end %>
					</div>
					<div id="mail_right">
						<div class="mail_images"><img src="/assets/yahoo.jpg" border="0" />
						</div>
						<div class="mail_images"><img src="/assets/mail.jpg" border="0" />
						</div>
						<div class="mail_images"><img src="/assets/gmail.jpg" border="0" />
						</div>
					</div>
				</div>
				<!--top_mail_wrapper ends-->
				<div id="top_permission">
					We will not store your password or email anyone without your permission.
				</div>
			</div>
			<!--right_top_wrapper_right ends-->
			<div class="clear"></div>
			<div id="right_top_bottom">
				Do you use Outlook,Apple Mail or another email application? <span>import your desktop email contacts</span>
			</div>
		</div>
		<!--right_top_wrapper-->
		<!--right_bottom_wrapper-->
		<div id="right_bottom_wrapper">
			<!--right_bottom_wrapper_top-->
			<div id="right_bottom_wrapper_top">
				<form action="" id="frmShare" id="frmShare" method="post">
					<table border="0" class="tbl_share" width="100%">
						<tr>
							<td>
							<div class="thump">
								<img src="/assets/icon.jpg" border="0" />
							</div></td>
							<td>							<textarea name="txtShare" id="txtShare"></textarea></td>
						</tr>
						<tr>
							<td></td>
							<td>
							<div id="sharedropdown_wrapper">
								<div id="share">
									Share with :
								</div>
								<select name="selShare" id="selShare" >
									<option value="">Go global + Twitter</option>
									<option value="">Go global </option>
									<option value="">Connections</option>
								</select>
							</div>
							<input type="submit" name="bttnShare" id="bttnShare" value="Share"/>
							</td>
						</tr>
					</table>
				</form>
			</div>
			<!--right_bottom_wrapper_top ends-->
			<!--allupdates_wrapper-->
			<div id="allupdates_wrapper">
				<!--allupdates_wrapper_top-->
				<div id="allupdates_wrapper_top">
					<!--dropdown-->
					<div id="allupdates">
						<a class="bttnallupdate"><span>All Updates</span></a>
						<div class="allupdatessubmenu" style="display: none;">
							<ul class="root_bttn">
								<li>
									<a href="#Dashboard" >Updates</a>
								</li>
								<li >
									<a href="#Profile" >Updates</a>
								</li>
								<li >
									<a href="#settings">Updates</a>
								</li>
							</ul>
						</div>
					</div>
					<!--dropdown ends-->
				</div>
				<!--allupdates_wrapper_top ends-->
				<!--allupdates_content_wrapper-->
				<div id="allupdates_content_wrapper">
					<div id="allupdates_left">
						<div class="thump">
							<img src="/assets/update.jpg" border="0" />
						</div>
					</div>
					<div id="allupdates_right">
						<div id="allupdates_right_top">
							<div id="slidorion">
								<div id="slider">
									<div id="slide1" class="slide">
										<img src="slider/img/img1.jpg" />
									</div>
									<div id="slide2" class="slide">
										<img src="slider/img/img2.jpg"  />
									</div>
									<div id="slide3" class="slide">
										<img src="slider/img/img3.jpg" />
									</div>
								</div>
								<div id="accordion">
									<div class="link-header">
										News1
									</div>
									<div class="link-content">
										<p>
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
										</p>
										<p>
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
										</p>
									</div>
									<div class="link-header">
										News2
									</div>
									<div class="link-content">
										<p>
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
										</p>
										<p>
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
										</p>
									</div>
									<div class="link-header">
										News3
									</div>
									<div class="link-content">
										<p>
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
										</p>
									</div>
								</div>
							</div>
						</div>
						<div id="allupdates_right_bottom">
							Go global Today <span>recommends this news for you</span>
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<!--allupdates_content_wrapper ends-->
			</div>
			<!--allupdates_wrapper ends-->
			<!--comments_wrapper_box1-->
			<div class="comments_wrapper_box">
				<!--comments_wrapper_top-->
				<div class="comments_wrapper_top">
					<a onclick="javascript:void(0);" class="bttnhide" rel="0">Hide</a>
				</div>
				<!--comments_wrapper_top ends-->
				<!--comments_content_main-->
				<div class="comments_content_main">
					<!--comments_content_wrapper-->
					<div class="comments_content_wrapper">
						<div class="comments_left">
							<div class="thump">
								<img src="/assets/contact/contact5.jpg" border="0" />
							</div>
						</div>
						<!--comments_right-->
						<div class="comments_right">
							<div class="comments_heading">
								<a href="#" class="name_link">Martin Mark</a><span > has a new profile photo</span>
							</div>
							<!--comments_wrapper_inner-->
							<div class="comments_wrapper_inner">
								<!--comments_like_wrapper-->
								<ul class="comments_like_wrapper">
									<li>
										<a class="like_bttn" href="#"></a>
									</li>
									<li>
										<a class="like_comment" href="#">Comment</a>
									</li>
									<li>
										<a class="like_comment" href="#">Send a message</a>
									</li>
									<li>
										<a>10 hour ago</a>
									</li>
								</ul>
								<!--comments_like_wrapper ends-->
							</div>
							<!--comments_wrapper_inner ends-->
						</div>
						<!--comments_right ends-->
						<div class="clear"></div>
					</div>
					<!--comments_content_wrapper ends-->
				</div>
				<!--comments_content_main ends-->
			</div>
			<!--comments_wrapper_box1 ends-->
			<!--comments_wrapper_box2-->
			<div class="comments_wrapper_box">
				<!--comments_wrapper_top-->
				<div class="comments_wrapper_top">
					<a onclick="javascript:void(0);" class="bttnhide" rel="0">Hide</a>
				</div>
				<!--comments_wrapper_top ends-->
				<!--comments_content_main-->
				<div class="comments_content_main">
					<!--comments_content_wrapper-->
					<div class="comments_content_wrapper">
						<div class="comments_left">
							<div class="thump">
								<img src="/assets/contact/contact4.jpg" border="0" />
							</div>
						</div>
						<!--comments_right-->
						<div class="comments_right">
							<div class="comments_heading">
								<a href="#" class="name_link">Hyden</a><span > has a new profile photo</span>
							</div>
							<!--comments_wrapper_inner-->
							<div class="comments_wrapper_inner">
								<div class="comment_image">
									<img src="/assets/sharepic.jpg" border="0" />
								</div>
								<div class="comment_content">
									<h1>Lorem Ipsum is simply dummy text</h1>
									<div class="content_text">
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book  .
									</div>
								</div>
								<div class="clear"></div>
								<!--comments_like_wrapper-->
								<ul class="comments_like_wrapper">
									<li>
										<a href="#" class="connectbttn" style="padding-right:15px;">Connect with Bernard</a>
									</li>
									<li>
										<a class="like_bttn" href="#">(5)</a>
									</li>
									<li>
										<a class="like_comment" href="#">Comment(5)</a>
									</li>
									<li>
										<a class="like_comment" href="#">Send a message</a>
									</li>
									<li>
										<a>10 hour ago</a>
									</li>
								</ul>
								<!--comments_like_wrapper ends-->
							</div>
							<!--comments_wrapper_inner ends-->
						</div>
						<!--comments_right ends-->
						<div class="clear"></div>
					</div>
					<!--comments_content_wrapper ends-->
					<!--comment_send_wrapper-->
					<div class="comment_send_wrapper">
						<div class="comment_tbl_wrapper">
							<div class="likes_wrapper_top">
								<a href="#" class="comment_like"></a>
								<div class="likes_people_wrapper">
									<a href="#" class="name_link">Hyden, Lina </a><span >and 2 other like this</span>
								</div>
							</div>
							<table border="0" class="tbl_comments" width="100%">
								<tr>
									<td>
									<input type="text" name="txtComment" id="txtComment" value="Add a comment....." onfocus="if(this.value=='Add a comment.....'){this.value='';this.style.color='#000000';}" onblur="if(this.value==''){this.value='Add a comment.....';this.style.color='#999';}"/>
									</td>
								</tr>
								<tr>
									<td>
									<input type="submit" name="bttnComment" id="bttnComment" value="Comment"/>
									</td>
								</tr>
							</table>
						</div>
					</div>
					<!--comment_send_wrapper-->
				</div>
				<!--comments_content_main ends-->
			</div>
			<!--comments_wrapper_box2 ends-->
			<!--comments_wrapper_box3-->
			<div class="comments_wrapper_box">
				<!--comments_wrapper_top-->
				<div class="comments_wrapper_top">
					<a onclick="javascript:void(0);" class="bttnhide" rel="0">Hide</a>
				</div>
				<!--comments_wrapper_top ends-->
				<!--comments_content_main-->
				<div class="comments_content_main">
					<!--comments_content_wrapper-->
					<div class="comments_content_wrapper">
						<div class="comments_left">
							<div class="thump">
								<img src="/assets/contact/contact9.jpg" border="0" />
							</div>
						</div>
						<!--comments_right-->
						<div class="comments_right">
							<div class="comments_heading">
								<a href="#" class="name_link">Martin Mark</a><span > has a new profile photo</span>
							</div>
							<!--comments_wrapper_inner-->
							<div class="comments_wrapper_inner">
								<!--comments_like_wrapper-->
								<ul class="comments_like_wrapper">
									<li>
										<a class="like_bttn" href="#"></a>
									</li>
									<li>
										<a class="like_comment" href="#">Comment</a>
									</li>
									<li>
										<a class="like_comment" href="#">Send a message</a>
									</li>
									<li>
										<a>10 hour ago</a>
									</li>
								</ul>
								<!--comments_like_wrapper ends-->
							</div>
							<!--comments_wrapper_inner ends-->
						</div>
						<!--comments_right ends-->
						<div class="clear"></div>
					</div>
					<!--comments_content_wrapper ends-->
				</div>
				<!--comments_content_main ends-->
			</div>
			<!--comments_wrapper_box3 ends-->
			<!--comments_wrapper_box4-->
			<div class="comments_wrapper_box">
				<!--comments_wrapper_top-->
				<div class="comments_wrapper_top">
					<a onclick="javascript:void(0);" class="bttnhide" rel="0">Hide</a>
				</div>
				<!--comments_wrapper_top ends-->
				<!--comments_content_main-->
				<div class="comments_content_main">
					<!--comments_content_wrapper-->
					<div class="comments_content_wrapper">
						<div class="comments_left">
							<div class="thump">
								<img src="/assets/contact/contact8.jpg" border="0" />
							</div>
						</div>
						<!--comments_right-->
						<div class="comments_right">
							<div class="comments_heading">
								<a href="#" class="name_link">Hyden</a><span > has a new profile photo</span>
							</div>
							<!--comments_wrapper_inner-->
							<div class="comments_wrapper_inner">
								<div class="comment_image">
									<img src="/assets/sharepic.jpg" border="0" />
								</div>
								<div class="comment_content">
									<h1>Lorem Ipsum is simply dummy text</h1>
									<div class="content_text">
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book  .
									</div>
								</div>
								<div class="clear"></div>
								<!--comments_like_wrapper-->
								<ul class="comments_like_wrapper">
									<li>
										<a href="#" class="connectbttn" style="padding-right:15px;">Connect with Bernard</a>
									</li>
									<li>
										<a class="like_bttn" href="#">(5)</a>
									</li>
									<li>
										<a class="like_comment" href="#">Comment(5)</a>
									</li>
									<li>
										<a class="like_comment" href="#">Send a message</a>
									</li>
									<li>
										<a>10 hour ago</a>
									</li>
								</ul>
								<!--comments_like_wrapper ends-->
							</div>
							<!--comments_wrapper_inner ends-->
						</div>
						<!--comments_right ends-->
						<div class="clear"></div>
					</div>
					<!--comments_content_wrapper ends-->
					<!--comment_send_wrapper-->
					<div class="comment_send_wrapper">
						<div class="comment_tbl_wrapper">
							<div class="likes_wrapper_top">
								<a href="#" class="comment_like"></a>
								<div class="likes_people_wrapper">
									<a href="#" class="name_link">Hyden, Lina </a><span >and 2 other like this</span>
								</div>
							</div>
							<table border="0" class="tbl_comments" width="100%">
								<tr>
									<td>
									<input type="text" name="txtComment" id="txtComment" value="Add a comment....." onfocus="if(this.value=='Add a comment.....'){this.value='';this.style.color='#000000';}" onblur="if(this.value==''){this.value='Add a comment.....';this.style.color='#999';}"/>
									</td>
								</tr>
								<tr>
									<td>
									<input type="submit" name="bttnComment" id="bttnComment" value="Comment"/>
									</td>
								</tr>
							</table>
						</div>
					</div>
					<!--comment_send_wrapper-->
				</div>
				<!--comments_content_main-->
			</div>
			<!--comments_wrapper_box4 ends-->
			<!--comments_wrapper_box5-->
			<div class="comments_wrapper_box">
				<!--comments_wrapper_top-->
				<div class="comments_wrapper_top">
					<a onclick="javascript:void(0);" class="bttnhide" rel="0">Hide</a>
				</div>
				<!--comments_wrapper_top ends-->
				<!--comments_content_main-->
				<div class="comments_content_main">
					<!--comments_content_wrapper-->
					<div class="comments_content_wrapper">
						<div class="comments_left">
							<div class="thump">
								<img src="/assets/contact/contact7.jpg" border="0" />
							</div>
						</div>
						<!--comments_right-->
						<div class="comments_right">
							<div class="comments_heading">
								<a href="#" class="name_link">Martin Mark</a><span > has a new profile photo</span>
							</div>
							<!--comments_wrapper_inner-->
							<div class="comments_wrapper_inner">
								<!--comments_like_wrapper-->
								<ul class="comments_like_wrapper">
									<li>
										<a class="like_bttn" href="#"></a>
									</li>
									<li>
										<a class="like_comment" href="#">Comment</a>
									</li>
									<li>
										<a class="like_comment" href="#">Send a message</a>
									</li>
									<li>
										<a>10 hour ago</a>
									</li>
								</ul>
								<!--comments_like_wrapper ends-->
							</div>
							<!--comments_wrapper_inner ends-->
						</div>
						<!--comments_right ends-->
						<div class="clear"></div>
					</div>
					<!--comments_content_wrapper ends-->
				</div>
				<!--comments_content_main-->
			</div>
			<!--comments_wrapper_box5 ends-->
		</div>
		<!--right_bottom_wrapper ends-->
	</div>
	<!--right_wrapper ends-->
	<div class="clear"></div>
</div>
<!--main_content_wrapper ends-->