<!--top_wrapper-->
<div id="top_wrapper">
	<!--top_wrapper_top-->
	<div id="top_wrapper_top">
		<!--top_wrapper_top_inner-->
		<div id="top_wrapper_top_inner">
			<div id="logo_wrapper">
				<a href="index.html">Home</a>
			</div>
			<!--right_dropdown_wrapper-->
			<div id="right_dropdown_wrapper">
				<div id="addconnection">
					<a href="#" class="addconnection">Add connection</a>
				</div>
				<div id="dropdown">
					<a class="account"><span>Scott</span></a>
					<div class="submenudropdown" style="display: none;">
						<ul class="root">
							<li>
								<a href="#Dashboard" >Settings</a>
							</li>
							<li>
								<%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!--right_dropdown_wrapper ends-->
			<!--message_icon_wrapper-->
			<div id="message_icon_wrapper">
				<div class="message_icon">
					<a href="#" class="count_msg">100</a>
					<div class="message_dropdown"></div>
				</div>
				<div class="notification_icon">
					<div class="notification_dropdown"></div>
				</div>
			</div>
			<!--message_icon_wrapper ends-->
		</div>
		<!--top_wrapper_top_inner ends-->
	</div>
	<!--top_wrapper_top ends-->
	<!--top_wrapper_bottom-->
	<div id="top_wrapper_bottom">
		<!--topmenu_wrapper-->
		<div id="topmenu_wrapper">
			<!--topmenu_wrapper_inner-->
			<div id="topmenu_wrapper_inner">
				<!--top_menu-->
				<ul id="top_menu">
					<li>
						<a href="index.html" class="selected">Home</a>
						<ul class="submenu">
							<li>
								<a href="#">Go global Home</a>
							</li>
							<li>
								<a href="#">Advertise on Go global</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#" >Profile</a>
						<ul class="submenu">
							<li>
								<a href="#">Edit Profile</a>
							</li>
							<li>
								<a href="#">View profile</a>
							</li>
							<li>
								<a href="#">Recommendations</a>
							</li>
							<li>
								<a href="#">Profile Organizer</a>
							</li>
							<li>
								<a href="#">Following</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Contacts</a>
						<ul class="submenu">
							<li>
								<a href="#">Connections</a>
							</li>
							<li>
								<a href="#">Add Connections</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Groups</a>
						<ul class="submenu">
							<li>
								<a href="#">Your Groups</a>
							</li>
							<li>
								<a href="#">Groups You May Like</a>
							</li>
							<li>
								<a href="#">Groups Directory</a>
							</li>
							<li>
								<a href="#">Create a Group</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Jobs</a>
						<ul class="submenu">
							<li>
								<a href="#">Find Jobs</a>
							</li>
							<li>
								<a href="#">Post a Job</a>
							</li>
							<li>
								<a href="#">Manage Your Jobs</a>
							</li>
							<li>
								<a href="#">Find Talent</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Companies</a>
						<ul class="submenu">
							<li>
								<a href="#">Find Companies</a>
							</li>
							<li>
								<a href="#">Companies You Follow</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">News</a>
						<ul class="submenu">
							<li>
								<a href="#">Go global Today</a>
							</li>
							<li>
								<a href="#">Original Content</a>
							</li>
							<li>
								<a href="#">Saved Articles</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">More</a>
						<ul class="submenu">
							<li>
								<a href="#">Inbox</a>
							</li>
							<li>
								<a href="#">Invitations</a>
							</li>
							<li>
								<a href="#">Help Center</a>
							</li>
							<li>
								<a href="#">Answers</a>
							</li>
							<li>
								<a href="#">Skills & Expertise</a>
							</li>
							<li>
								<a href="#">Profile Views</a>
							</li>
						</ul>
					</li>
					<li id="last"></li>
				</ul>
				<!--top_menu ends-->
				<!--menu_inner_right-->
				<div id="menu_inner_right">
					<!--search_wrapper-->
					<div id="search_wrapper">
						<form action="" name="frmSearch" id="frmSearch" method="post">
							<input type="text" name="txtKeyword" id="txtKeyword" value="Search....." onfocus="if(this.value=='Search.....'){this.value='';this.style.color='#000000';}" onblur="if(this.value==''){this.value='Search.....';this.style.color='#999';}"/>
						</form>
					</div>
					<!--search_wrapper ends-->
					<!--searchbttn-->
					<div id="searchbttn">
						<select name="fancySelect" class="makeMeFancy">
							<!-- Notice the HTML5 data attributes -->
							<option value="0" selected="selected" data-skip="1" data-icon="/assets/Friends.png">Choose</option>
							<option value="1" data-icon="/assets/Friends.png" data-html-text="iPhone 4&lt;i&gt;in stock&lt;/i&gt;" title="sss" ></option>
							<option value="2" data-icon="/assets/jobs.png" data-html-text="iPod &lt;i&gt;in stock&lt;/i&gt;"></option>
							<option value="3" data-icon="/assets/updates.png" data-html-text="MacBook Air&lt;i&gt;out of stock&lt;/i&gt;"></option>
							<option value="3" data-icon="/assets/people.png" data-html-text="MacBook Air&lt;i&gt;out of stock&lt;/i&gt;"></option>
						</select>
					</div>
					<!--searchbttn ends-->
				</div>
				<!--menu_inner_right ends-->
			</div>
			<!--topmenu_wrapper_inner ends-->
		</div>
		<!--topmenu_wrapper ends-->
	</div>
	<!--top_wrapper_bottom ends-->
</div>
<!--top_wrapper-->
<!--main_content_wrapper-->
<div id="main_content_wrapper">
	<!--left_wrapper-->
	<div id="left_wrapper">
		<!--groups_wrapper-->
		<div id="groups_wrapper">
			<div id="groups_heading">
				Groups
			</div>
			<!--group_search_wrapper-->
			<div id="group_search_wrapper">
				<form action="" method="post" name="frmGroup" id="frmGroup">
					<input type="text" name="txtGroup" id="txtGroup"  value="Search Groups" onfocus="if(this.value=='Search Groups'){this.value='';this.style.color='#000000';}" onblur="if(this.value==''){this.value='Search Groups';this.style.color='#999';}"/>
					<input type="submit" name="bttnGroup" id="bttnGroup"  value=""/>
				</form>
			</div>
			<!--group_search_wrapper ends-->
			<!--group_tbl_wrapper-->
			<div id="group_tbl_wrapper">
				<table border="0" class="tbl_group">
						<% if current_user %>
						<% if !current_user.groups.empty? %>
						<% current_user.groups.sample(3).each do |group, i| %>		
						<% if i == 0 or i == 3 %><tr><% end %>				
						<td>
						<div class="group_box">
							<div class="group_box_img">
								<a href="#"> <%= image_tag group.logo.url(:thumb) %> </a>
							</div>
							<a href="#" class="group_link1"><%= group.group_name %></a>
							<a href="#" class="group_link2">Subscribe</a>
						</div>
						</td>
							<% if i == 0 or i == 3 %></tr><% end %>
						<% end %>
						<% end %>
						<% end %>
					
				</table>
			</div>
			<!--group_tbl_wrapper ends-->
			<div class="link_wrap">
				<a href="/groups/" class="groupMore">More>></a>
			</div>
		</div>
		<!--groups_wrapper ends-->
		<!--contacts_wrapper-->
		<div id="contacts_wrapper">
			<div id="contacts_heading">
				MY CONTACTS
			</div>
			<!--contacts_search_wrapper-->
			<div id="contacts_search_wrapper">
				<form action="" method="post" name="frmContacts" id="frmContacts">
					<input type="text" name="txtGroup" id="txtGroup"  value="Search Contacts" onfocus="if(this.value=='Search Contacts'){this.value='';this.style.color='#000000';}" onblur="if(this.value==''){this.value='Search Contacts';this.style.color='#999';}"/>
					<input type="submit" name="bttnContact" id="bttnContact"  value=""/>
				</form>
			</div>
			<!--contacts_search_wrapper ends-->
			<!--contacts_tbl_wrapper-->
			<div id="contacts_tbl_wrapper">
				<table border="0" class="tbl_contacts">
					
					<tr>
						<% @contacts.each do |contact| %>
						<td>
						<div class="contact_box">
							<div class="contact_box_img">
								<a href="#"><%= image_tag contact.user_profile.picture.url(:thumb)%></a>
							</div>
							<a href="#" class="contact_link"><%= contact.user_profile.display_name %></a>
						</div></td>
						<% end %>
					</tr>
					
				</table>
			</div>
			<!--contacts_tbl_wrapper ends-->
			<div class="link_wrap">
				<a href="/connections/" class="contactsMore">More>></a>
			</div>
		</div>
		<!--contacts_wrapper-->
		<!--advertisements_wrapper-->
		<div id="advertisements_wrapper">
			<div id="advertisements_heading">
				ADVERTISEMENTS
			</div>
			<!--advertisement_tbl_wrapper ends-->
			<div id="advertisement_tbl_wrapper">
				<table border="0" class="tbl_advertisement">
					<tr>
						<td>
						<div class="advertisement_box">
							<div class="advertisement_box_img">
								<a href="#"><img src="/assets/add/add1.jpg" border="0" /></a>
							</div>
						</div></td>
						<td>
						<div class="advertisement_box">
							<div class="advertisement_box_img">
								<a href="#"><img src="/assets/add/add2.jpg" border="0" /></a>
							</div>
						</div></td>
						<td>
						<div class="advertisement_box">
							<div class="advertisement_box_img">
								<a href="#"><img src="/assets/add/add3.jpg" border="0" /></a>
							</div>
						</div></td>
					</tr>
					<tr>
						<td>
						<div class="advertisement_box">
							<div class="advertisement_box_img">
								<a href="#"><img src="/assets/add/add4.jpg" border="0" /></a>
							</div>
						</div></td>
						<td>
						<div class="advertisement_box">
							<div class="advertisement_box_img">
								<a href="#"><img src="/assets/add/add5.jpg" border="0" /></a>
							</div>
						</div></td>
						<td>
						<div class="advertisement_box">
							<div class="advertisement_box_img">
								<a href="#"><img src="/assets/add/add6.jpg" border="0" /></a>
							</div>
						</div></td>
					</tr>
					<tr>
						<td>
						<div class="advertisement_box">
							<div class="advertisement_box_img">
								<a href="#"><img src="/assets/add/add7.jpg" border="0" /></a>
							</div>
						</div></td>
						<td>
						<div class="advertisement_box">
							<div class="advertisement_box_img">
								<a href="#"><img src="/assets/add/add8.jpg" border="0" /></a>
							</div>
						</div></td>
						<td>
						<div class="advertisement_box">
							<div class="advertisement_box_img">
								<a href="#"><img src="/assets/add/add9.jpg" border="0" /></a>
							</div>
						</div></td>
					</tr>
				</table>
			</div>
			<!--advertisement_tbl_wrapper ends-->
			<div class="link_wrap">
				<a href="#" class="advertisementMore">More>></a>
			</div>
		</div>
		<!--advertisements_wrapper ends-->
	</div>
	<!--left_wrapper ends-->
	<!--right_wrapper-->
	<div id="right_wrapper">
		<!--right_top_wrapper-->
		<div id="right_top_wrapper">
			<div id="right_top_wrapper_left">
				<img src="/assets/icon.jpg" border="0" />
			</div>
			<!--right_top_wrapper_right-->
			<div id="right_top_wrapper_right">
				<div id="top_welcome">
					Welcome, Scott! See Who Already Know on Go global
				</div>
				<div id="top_welcome_bottom">
					Get Started by adding your email address.
				</div>
				<!--top_mail_wrapper-->
				<div id="top_mail_wrapper">
					<div id="mail_left">
						<form action="" name="frmEmail" id="frmEmail" method="post">
							<table border="0" class="tbl_email">
								<tr>
									<td><label> Your email :</label></td>
									<td>
									<input type="text" name="txtEmail" id="txtEmail" value="scott@gmail.com"/>
									</td>
									<td>
									<input type="submit" name="bttnEmail" id="bttnEmail" value="Continue" />
									</td>
								</tr>
							</table>
						</form>
					</div>
					<div id="mail_right">
						<div class="mail_images"><img src="/assets/yahoo.jpg" border="0" />
						</div>
						<div class="mail_images"><img src="/assets/mail.jpg" border="0" />
						</div>
						<div class="mail_images"><img src="/assets/gmail.jpg" border="0" />
						</div>
					</div>
				</div>
				<!--top_mail_wrapper ends-->
				<div id="top_permission">
					We will not store your password or email anyone without your permission.
				</div>
			</div>
			<!--right_top_wrapper_right ends-->
			<div class="clear"></div>
			<div id="right_top_bottom">
				Do you use Outlook,Apple Mail or another email application? <span>import your desktop email contacts</span>
			</div>
		</div>
		<!--right_top_wrapper-->
		<!--right_bottom_wrapper-->
		<div id="right_bottom_wrapper">
			<!--right_bottom_wrapper_top-->
			<div id="right_bottom_wrapper_top">
				<form action="" id="frmShare" id="frmShare" method="post">
					<table border="0" class="tbl_share" width="100%">
						<tr>
							<td>
							<div class="thump">
								<img src="/assets/icon.jpg" border="0" />
							</div></td>
							<td>							<textarea name="txtShare" id="txtShare"></textarea></td>
						</tr>
						<tr>
							<td></td>
							<td>
							<div id="sharedropdown_wrapper">
								<div id="share">
									Share with :
								</div>
								<select name="selShare" id="selShare" >
									<option value="">Go global + Twitter</option>
									<option value="">Go global </option>
									<option value="">Connections</option>
								</select>
							</div>
							<input type="submit" name="bttnShare" id="bttnShare" value="Share"/>
							</td>
						</tr>
					</table>
				</form>
			</div>
			<!--right_bottom_wrapper_top ends-->
			<!--allupdates_wrapper-->
			<div id="allupdates_wrapper">
				<!--allupdates_wrapper_top-->
				<div id="allupdates_wrapper_top">
					<!--dropdown-->
					<div id="allupdates">
						<a class="bttnallupdate"><span>All Updates</span></a>
						<div class="allupdatessubmenu" style="display: none;">
							<ul class="root_bttn">
								<li>
									<a href="#Dashboard" >Updates</a>
								</li>
								<li >
									<a href="#Profile" >Updates</a>
								</li>
								<li >
									<a href="#settings">Updates</a>
								</li>
							</ul>
						</div>
					</div>
					<!--dropdown ends-->
				</div>
				<!--allupdates_wrapper_top ends-->
				<!--allupdates_content_wrapper-->
				<div id="allupdates_content_wrapper">
					<div id="allupdates_left">
						<div class="thump">
							<img src="/assets/update.jpg" border="0" />
						</div>
					</div>
					<div id="allupdates_right">
						<div id="allupdates_right_top">
							<div id="slidorion">
								<div id="slider">
									<div id="slide1" class="slide">
										<img src="slider/img/img1.jpg" />
									</div>
									<div id="slide2" class="slide">
										<img src="slider/img/img2.jpg"  />
									</div>
									<div id="slide3" class="slide">
										<img src="slider/img/img3.jpg" />
									</div>
								</div>
								<div id="accordion">
									<div class="link-header">
										News1
									</div>
									<div class="link-content">
										<p>
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
										</p>
										<p>
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
										</p>
									</div>
									<div class="link-header">
										News2
									</div>
									<div class="link-content">
										<p>
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
										</p>
										<p>
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
										</p>
									</div>
									<div class="link-header">
										News3
									</div>
									<div class="link-content">
										<p>
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
										</p>
									</div>
								</div>
							</div>
						</div>
						<div id="allupdates_right_bottom">
							Go global Today <span>recommends this news for you</span>
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<!--allupdates_content_wrapper ends-->
			</div>
			<!--allupdates_wrapper ends-->
			<!--comments_wrapper_box1-->
			<div class="comments_wrapper_box">
				<!--comments_wrapper_top-->
				<div class="comments_wrapper_top">
					<a onclick="javascript:void(0);" class="bttnhide" rel="0">Hide</a>
				</div>
				<!--comments_wrapper_top ends-->
				<!--comments_content_main-->
				<div class="comments_content_main">
					<!--comments_content_wrapper-->
					<div class="comments_content_wrapper">
						<div class="comments_left">
							<div class="thump">
								<img src="/assets/contact/contact5.jpg" border="0" />
							</div>
						</div>
						<!--comments_right-->
						<div class="comments_right">
							<div class="comments_heading">
								<a href="#" class="name_link">Martin Mark</a><span > has a new profile photo</span>
							</div>
							<!--comments_wrapper_inner-->
							<div class="comments_wrapper_inner">
								<!--comments_like_wrapper-->
								<ul class="comments_like_wrapper">
									<li>
										<a class="like_bttn" href="#"></a>
									</li>
									<li>
										<a class="like_comment" href="#">Comment</a>
									</li>
									<li>
										<a class="like_comment" href="#">Send a message</a>
									</li>
									<li>
										<a>10 hour ago</a>
									</li>
								</ul>
								<!--comments_like_wrapper ends-->
							</div>
							<!--comments_wrapper_inner ends-->
						</div>
						<!--comments_right ends-->
						<div class="clear"></div>
					</div>
					<!--comments_content_wrapper ends-->
				</div>
				<!--comments_content_main ends-->
			</div>
			<!--comments_wrapper_box1 ends-->
			<!--comments_wrapper_box2-->
			<div class="comments_wrapper_box">
				<!--comments_wrapper_top-->
				<div class="comments_wrapper_top">
					<a onclick="javascript:void(0);" class="bttnhide" rel="0">Hide</a>
				</div>
				<!--comments_wrapper_top ends-->
				<!--comments_content_main-->
				<div class="comments_content_main">
					<!--comments_content_wrapper-->
					<div class="comments_content_wrapper">
						<div class="comments_left">
							<div class="thump">
								<img src="/assets/contact/contact4.jpg" border="0" />
							</div>
						</div>
						<!--comments_right-->
						<div class="comments_right">
							<div class="comments_heading">
								<a href="#" class="name_link">Hyden</a><span > has a new profile photo</span>
							</div>
							<!--comments_wrapper_inner-->
							<div class="comments_wrapper_inner">
								<div class="comment_image">
									<img src="/assets/sharepic.jpg" border="0" />
								</div>
								<div class="comment_content">
									<h1>Lorem Ipsum is simply dummy text</h1>
									<div class="content_text">
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book  .
									</div>
								</div>
								<div class="clear"></div>
								<!--comments_like_wrapper-->
								<ul class="comments_like_wrapper">
									<li>
										<a href="#" class="connectbttn" style="padding-right:15px;">Connect with Bernard</a>
									</li>
									<li>
										<a class="like_bttn" href="#">(5)</a>
									</li>
									<li>
										<a class="like_comment" href="#">Comment(5)</a>
									</li>
									<li>
										<a class="like_comment" href="#">Send a message</a>
									</li>
									<li>
										<a>10 hour ago</a>
									</li>
								</ul>
								<!--comments_like_wrapper ends-->
							</div>
							<!--comments_wrapper_inner ends-->
						</div>
						<!--comments_right ends-->
						<div class="clear"></div>
					</div>
					<!--comments_content_wrapper ends-->
					<!--comment_send_wrapper-->
					<div class="comment_send_wrapper">
						<div class="comment_tbl_wrapper">
							<div class="likes_wrapper_top">
								<a href="#" class="comment_like"></a>
								<div class="likes_people_wrapper">
									<a href="#" class="name_link">Hyden, Lina </a><span >and 2 other like this</span>
								</div>
							</div>
							<table border="0" class="tbl_comments" width="100%">
								<tr>
									<td>
									<input type="text" name="txtComment" id="txtComment" value="Add a comment....." onfocus="if(this.value=='Add a comment.....'){this.value='';this.style.color='#000000';}" onblur="if(this.value==''){this.value='Add a comment.....';this.style.color='#999';}"/>
									</td>
								</tr>
								<tr>
									<td>
									<input type="submit" name="bttnComment" id="bttnComment" value="Comment"/>
									</td>
								</tr>
							</table>
						</div>
					</div>
					<!--comment_send_wrapper-->
				</div>
				<!--comments_content_main ends-->
			</div>
			<!--comments_wrapper_box2 ends-->
			<!--comments_wrapper_box3-->
			<div class="comments_wrapper_box">
				<!--comments_wrapper_top-->
				<div class="comments_wrapper_top">
					<a onclick="javascript:void(0);" class="bttnhide" rel="0">Hide</a>
				</div>
				<!--comments_wrapper_top ends-->
				<!--comments_content_main-->
				<div class="comments_content_main">
					<!--comments_content_wrapper-->
					<div class="comments_content_wrapper">
						<div class="comments_left">
							<div class="thump">
								<img src="/assets/contact/contact9.jpg" border="0" />
							</div>
						</div>
						<!--comments_right-->
						<div class="comments_right">
							<div class="comments_heading">
								<a href="#" class="name_link">Martin Mark</a><span > has a new profile photo</span>
							</div>
							<!--comments_wrapper_inner-->
							<div class="comments_wrapper_inner">
								<!--comments_like_wrapper-->
								<ul class="comments_like_wrapper">
									<li>
										<a class="like_bttn" href="#"></a>
									</li>
									<li>
										<a class="like_comment" href="#">Comment</a>
									</li>
									<li>
										<a class="like_comment" href="#">Send a message</a>
									</li>
									<li>
										<a>10 hour ago</a>
									</li>
								</ul>
								<!--comments_like_wrapper ends-->
							</div>
							<!--comments_wrapper_inner ends-->
						</div>
						<!--comments_right ends-->
						<div class="clear"></div>
					</div>
					<!--comments_content_wrapper ends-->
				</div>
				<!--comments_content_main ends-->
			</div>
			<!--comments_wrapper_box3 ends-->
			<!--comments_wrapper_box4-->
			<div class="comments_wrapper_box">
				<!--comments_wrapper_top-->
				<div class="comments_wrapper_top">
					<a onclick="javascript:void(0);" class="bttnhide" rel="0">Hide</a>
				</div>
				<!--comments_wrapper_top ends-->
				<!--comments_content_main-->
				<div class="comments_content_main">
					<!--comments_content_wrapper-->
					<div class="comments_content_wrapper">
						<div class="comments_left">
							<div class="thump">
								<img src="/assets/contact/contact8.jpg" border="0" />
							</div>
						</div>
						<!--comments_right-->
						<div class="comments_right">
							<div class="comments_heading">
								<a href="#" class="name_link">Hyden</a><span > has a new profile photo</span>
							</div>
							<!--comments_wrapper_inner-->
							<div class="comments_wrapper_inner">
								<div class="comment_image">
									<img src="/assets/sharepic.jpg" border="0" />
								</div>
								<div class="comment_content">
									<h1>Lorem Ipsum is simply dummy text</h1>
									<div class="content_text">
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book  .
									</div>
								</div>
								<div class="clear"></div>
								<!--comments_like_wrapper-->
								<ul class="comments_like_wrapper">
									<li>
										<a href="#" class="connectbttn" style="padding-right:15px;">Connect with Bernard</a>
									</li>
									<li>
										<a class="like_bttn" href="#">(5)</a>
									</li>
									<li>
										<a class="like_comment" href="#">Comment(5)</a>
									</li>
									<li>
										<a class="like_comment" href="#">Send a message</a>
									</li>
									<li>
										<a>10 hour ago</a>
									</li>
								</ul>
								<!--comments_like_wrapper ends-->
							</div>
							<!--comments_wrapper_inner ends-->
						</div>
						<!--comments_right ends-->
						<div class="clear"></div>
					</div>
					<!--comments_content_wrapper ends-->
					<!--comment_send_wrapper-->
					<div class="comment_send_wrapper">
						<div class="comment_tbl_wrapper">
							<div class="likes_wrapper_top">
								<a href="#" class="comment_like"></a>
								<div class="likes_people_wrapper">
									<a href="#" class="name_link">Hyden, Lina </a><span >and 2 other like this</span>
								</div>
							</div>
							<table border="0" class="tbl_comments" width="100%">
								<tr>
									<td>
									<input type="text" name="txtComment" id="txtComment" value="Add a comment....." onfocus="if(this.value=='Add a comment.....'){this.value='';this.style.color='#000000';}" onblur="if(this.value==''){this.value='Add a comment.....';this.style.color='#999';}"/>
									</td>
								</tr>
								<tr>
									<td>
									<input type="submit" name="bttnComment" id="bttnComment" value="Comment"/>
									</td>
								</tr>
							</table>
						</div>
					</div>
					<!--comment_send_wrapper-->
				</div>
				<!--comments_content_main-->
			</div>
			<!--comments_wrapper_box4 ends-->
			<!--comments_wrapper_box5-->
			<div class="comments_wrapper_box">
				<!--comments_wrapper_top-->
				<div class="comments_wrapper_top">
					<a onclick="javascript:void(0);" class="bttnhide" rel="0">Hide</a>
				</div>
				<!--comments_wrapper_top ends-->
				<!--comments_content_main-->
				<div class="comments_content_main">
					<!--comments_content_wrapper-->
					<div class="comments_content_wrapper">
						<div class="comments_left">
							<div class="thump">
								<img src="/assets/contact/contact7.jpg" border="0" />
							</div>
						</div>
						<!--comments_right-->
						<div class="comments_right">
							<div class="comments_heading">
								<a href="#" class="name_link">Martin Mark</a><span > has a new profile photo</span>
							</div>
							<!--comments_wrapper_inner-->
							<div class="comments_wrapper_inner">
								<!--comments_like_wrapper-->
								<ul class="comments_like_wrapper">
									<li>
										<a class="like_bttn" href="#"></a>
									</li>
									<li>
										<a class="like_comment" href="#">Comment</a>
									</li>
									<li>
										<a class="like_comment" href="#">Send a message</a>
									</li>
									<li>
										<a>10 hour ago</a>
									</li>
								</ul>
								<!--comments_like_wrapper ends-->
							</div>
							<!--comments_wrapper_inner ends-->
						</div>
						<!--comments_right ends-->
						<div class="clear"></div>
					</div>
					<!--comments_content_wrapper ends-->
				</div>
				<!--comments_content_main-->
			</div>
			<!--comments_wrapper_box5 ends-->
		</div>
		<!--right_bottom_wrapper ends-->
	</div>
	<!--right_wrapper ends-->
	<div class="clear"></div>
</div>
<!--main_content_wrapper ends-->