<%= form_for @connection do |f| %>
	<%= check_box("send_invite_all", "select_all", {}, "select_all", "") %> Select All <br clear="all" />
	<% @bconnected_contacts.each_with_index do |contact, i| %>
		<%= check_box("send_invite", "email_contact["+i.to_s+"]", {}, contact.user_id, "") %> <%= contact.email	 %> <br clear="all" />
	<% end %>
	<%= f.submit "Add Connection" %>
<% end %>
<a href="/user_profiles/invite_contacts_form/<%= current_user.id %>">Next>></a>
