<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Go global | Login</title>
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
		<link href="/assets/css/main_style.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="/assets/AvantGardeMd/avantgardstylesheet.css" type="text/css" charset="utf-8" />
		<link rel="stylesheet" href="/assets/goodfoot/goodfoot_stylesheet.css" type="text/css" charset="utf-8" />
		<%= csrf_meta_tags %>
		<style>
			body {
				font-size: 14px;
				font-family: 'avantgarde_md_btmedium';
				letter-spacing: 1px;
				margin: 0px;
				background: #FFF;
			}
		</style>
		<!--[if lte IE 7]>
		<style>
		ul#footer_menu{
		width:610px;
		}

		#already h6 {

		font-size: 8px;
		color: #817d7d;
		margin-top: 7px;
		margin-bottom: 0px;
		margin-left:-5px;
		}
		</style>
		<![endif]-->
		<!--[if lte IE 8]>
		<style>
		ul#footer_menu{
		width:610px;
		}
		#already h6 {

		font-size: 8px;
		color: #817d7d;
		margin-top: 7px;
		margin-bottom: 0px;
		margin-left:-5px;
		}
		</style>
		<![endif]-->
	</head>
	<body>
		<div id="top">
			<div id="top_inner">
				<div class="top_colmn">
					<div id="logo_wrapper">
						<a href="index.html">Home</a>
					</div>
				</div>
				<div class="top_colmn">
					<div id="socialicons">
						<a href="#"><%= image_tag "facebook.png" %></a>
						<a href="#"><%= image_tag "twitter.png" %></a>
						<a href="#"><%= image_tag "in.png" %></a>
					</div>
				</div>
			</div>
		</div>
		<div id="navigation">
			<div id="navigation_inner">
				<div id="menu">
					<ul>
						<li>
							<%= link_to "Home", root_path %>
						</li>
						<li>
							<a href="#">What is Go global?</a>
						</li>
						<li>
							<a href="/users/sign_up" >Join Today</a>
						</li>
						<div id="rightli">
							<%= image_tag "li.png" %>
						</div>
					</ul>
					<div id="signinbox">
						<% if !user_signed_in? %>
							<%= form_for User.new, :url => new_user_session_path do |f| %>
								<div class="signinrow">
									<h6>Email</h6>
									<%= f.email_field :email, :class => 'signin_field_bg' %>
								</div>
								<div class="signinrow">
									<h6>Password</h6>
									<%= f.password_field :password, :class => 'signin_field_bg' %>
								</div>
								<input type="submit" class="signin_btn" value="" />
							<% end %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<%= yield %> <!--footer_wrapper-->
		<div id="footer">
			<div id="footer_inner">
				<ul id="footer_menu">
					<li>
						<%= link_to "Home", root_path %>
					</li>
					<li>
						<%= link_to "Profile", home_user_profiles_path %>
					</li>
					<li>
						<%= link_to "Contacts", connections_path %>
					</li>
					<li>
						<a href="#">Jobs</a>
					</li>
					<li>
						<%= link_to "Companies", companies_path %>
					</li>
					<li>
						<a href="#">News</a>
					</li>
					<li>
						<a href="#">Help Center</a>
					</li>
					<li>
						<a href="#">Contact Us</a>
					</li>
				</ul>
				<div id="copyright">
					<a href="#" target="_new">Go global &copy;2013</a>
				</div>
			</div>
		</div>
		<!--footer_wrapper ends-->
	</body>
</html>
