<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Go global | Connection</title>
		<link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico" />
		<link href="/assets/css/main_style.css" rel="stylesheet" type="text/css" />
		<link href="/assets/css/styleselect.css" rel="stylesheet" type="text/css" />
		<link href="/assets/stylish-select.css" rel="stylesheet" type="text/css" />
		<%= stylesheet_link_tag 'jScrollPane'%>
		<%= javascript_include_tag 'jquery.min' %>
		<%= javascript_include_tag 'jScrollPane' %>
		<%= javascript_include_tag 'jquery.mousewheel' %>
		<%= javascript_include_tag 'jquery.stylish-select' %>
		<script type="text/javascript">
			$(document).ready(function(e) {
				$('.scroll-pane').jScrollPane({
					scrollbarWidth : 6
				});
			})
		</script>
		<script>
			$().ready(function(e) {
				$('.leftmenu li a').click(function(e) {
					if($(this).next('ul.leftmenu_sub').is(":hidden")) {

						$('.leftmenu_sub').each(function() {
							$(this).slideUp();
						});
						$('.leftmenu li.parent').each(function() {
							$(this).removeClass('selected');
						});
						$(this).parent().addClass('selected');
						$(this).next('ul.leftmenu_sub').slideDown(100);

					} else {

						$('.leftmenu li.parent').each(function() {

							$(this).removeClass('selected');
						});
						$(this).next('ul.leftmenu_sub').hide();

					}
				});
			});

		</script>
		<script type="text/javascript">
			$(document).ready(function(e) {
				$('#main_content_wrapper_center ul li').click(function(e) {

					$('#load').hide();
					$('#profileload').show();
				});
				$('.check').change(function(e) {
					$('#load').show();
					$('#profileload').hide();
				});
			});

		</script>
		<script type="text/javascript">
			$(document).ready(function(e) {

			});

		</script>
		<script type="text/javascript">
			$(document).ready(function() {
				$(".account").click(function() {
					
					var X = $(this).attr('id');
					$("#abc").attr('class', '');
					if(X == 1) {
						$(".submenudropdown").hide();
						$(this).attr('id', '0');
					} else {
						$(".bttnsubmenu").hide();
						$(".alphabetsub").hide();
						$(".submenudropdown").show();
						$(this).attr('id', '1');
					}
				});
				//Mouseup textarea false
				$(".submenudropdown").mouseup(function() {
					return false
				});
				$(".account").mouseup(function() {
					return false
				});
				//Textarea without editing.
				$(document).mouseup(function() {
					$(".submenudropdown").hide();
					$(".account").attr('id', '');
				});
			});

		</script>
		<script type="text/javascript">
			$(document).ready(function() {
				$("#abc").click(function() {
					var X = $(this).attr('class');
					if(X == 1) {
						$(".alphabetsub").hide();
						$(this).attr('class', '0');
					} else {
						$(".account").attr('id', '');
						$(".bttnsubmenu").hide();
						$(".submenudropdown").hide()
						$(".alphabetsub").show();
						$(this).attr('class', '1');
					}
				});
				//Mouseup textarea false
				$(".alphabetsub").mouseup(function() {
					return false
				});
				$("#abc").mouseup(function() {
					return false
				});
				//Textarea without editing.
				$(document).mouseup(function() {

					$(".alphabetsub").hide();
					$("#abc").attr('class', '');

				});
			});

		</script>
		<script type="text/javascript">
			$(document).ready(function() {
				$(".bttnaccount").click(function() {
					var X = $(this).attr('id');
					if(X == 1) {
						$(".bttnsubmenu").hide();
						$(this).attr('id', '0');
					} else {
						$(".submenudropdown").hide();
						$(".bttnsubmenu").show();
						$(this).attr('id', '1');
					}
				});
				//Mouseup textarea false
				$(".bttnsubmenu").mouseup(function() {
					return false
				});
				$(".bttnaccount").mouseup(function() {
					return false
				});
				//Textarea without editing.
				$(document).mouseup(function() {
					$(".bttnsubmenu").hide();
					$(".bttnaccount").attr('id', '');
				});
			});

		</script>
		<script>
		  $().ready(function(e) {
			   $('.search_leftbottom li a').click(function(e) {
				 if($(this).next('ul.search_leftbottom_sub').is(":hidden")){ 
				 
				   $(this).parent().addClass('selected');	
				   $(this).next('ul.search_leftbottom_sub').slideDown(100);
				
				}
			    else
				 {
				     $(this).parent().removeClass('selected');
				     $(this).next('ul.search_leftbottom_sub').hide();
				 }
		    });
			   
			  
		});
		</script>
		 <!--leftbottomscrip ends-->
		 <!--Content menu-->
		 <script>
		  $().ready(function(e) {
			   $('.search_contentmenu li a').click(function(e) {
				 if($(this).next('ul.search_contentmenu_sub').is(":hidden")){ 
				 
				   $(this).parent().addClass('selected');	
				   $(this).next('ul.search_contentmenu_sub').slideDown(100);
				
				}
			    else
				 {
				     $(this).parent().removeClass('selected');
				     $(this).next('ul.search_contentmenu_sub').hide();
				 }
		    });
			   
			  
		});
		</script>
		<script type="text/javascript">
			 $(document).ready(function(e) {
				 $('.check').click(function(e) {
					 if($(this).attr('checked')==true)
					 {
					     $(".button_top").addClass('button_top_color');
					 }
			         else
					 {
						$(".button_top").removeClass('button_top_color');
						
					 }
			   
			});
			});
			 </script>
			 <script type="text/javascript">
	   $(document).ready(function(){
		   	$(".search_hover").click(function(){
				 $(".account").attr('id', '');
				   $(".searchmenudropdown").hide();
		           var X=$(this).attr('id');
		        	if(X==1)	{
		                        $(this).children(".searchmenudropdown").hide();
		                        $(this).attr('id', '0');	
		                         }
		           else{
					    $(".bttnsubmenu").hide();
						$(".ddChild").hide();
						 /*$(".newestmenudropdown").hide();*/
						  $(".submenudropdown").hide();
		        		 $(this).children(".searchmenudropdown").show();
		                $(this).attr('id', '1');
		                 }
		   });
		   
		//Mouseup textarea false
		$(".searchmenudropdown").mouseup(function(){
		     return false
		  });
		$(".search_hover").mouseup(function(){
		    return false
		});
		
		 	
	
		//Textarea without editing.
		$(document).mouseup(function()
		{   
		   $(".searchmenudropdown").hide();
		   $(".search_hover").attr('id', '');
		});
			
	});
 </script>
		<!--[if lte IE 7]>
		<style>
		ul#footer_menu{
		width:610px;
		}
		#right_dropdown_wrapper{
		min-width:170px;
		max-width:187px;
		}
		ul#top_menu li ul.submenu{
		width:170px;
		}
		ul#top_menu li ul.submenu li{
		width:100% !important;
		}
		ul#top_menu li ul.submenu li a{
		width:100% !important;
		}
		#count
		{
		width:32px;
		background:url(../images/count.png)20px no-repeat;
		color:#a38bdf;
		vertical-align:top;
		padding-top:20px;
		padding-left:40px;
		font-size:11px;
		font-weight:bold;0
		}
		#connection_name
		{
		color:#457698;
		font-size:11px;
		font-weight:bold;
		margin-top:-2px;
		}
		</style>
		<![endif]-->
		<script type="text/javascript">
			$().ready(function(e) {
				$("ul#top_menu li").hover(function() {
					$(this).find('ul:first').css({
						visibility : "visible",
						display : "none"
					}).slideDown(400);
				}, function() {
					$(this).find('ul:first').css({
						visibility : "hidden"
					});
				});
			});

		</script>
	</head>
	<body>
		<!--top_wrapper-->
		<div id="top_wrapper">
			<!--top_wrapper_top-->
			<div id="top_wrapper_top">
				<!--top_wrapper_top_inner-->
				<div id="top_wrapper_top_inner">
					<div id="logo_wrapper">
						<%= link_to "Home", root_path %>
					</div>
					<!--right_dropdown_wrapper-->
					<div id="right_dropdown_wrapper">
						<div id="addconnection">
							<%= link_to "Add conenction", "/user_profiles/connect_with_form/"+current_user.id.to_s, :class => "addconnection" %>
						</div>
						<div id="dropdown">
							<a class="account"><span><%= current_user.user_profile.display_name %></span></a>
							<div class="submenudropdown" style="display: none;">
								<ul class="root">
									<li>
										<a href="#Dashboard" >Settings</a>
									</li>
									<li>
										<%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!--right_dropdown_wrapper ends-->
					<!--message_icon_wrapper-->
					<div id="message_icon_wrapper">
						<div class="message_icon">
							<a href="#" class="count_msg">100</a>
							<div class="message_dropdown"></div>
						</div>
						<div class="notification_icon">
							<div class="notification_dropdown"></div>
						</div>
					</div>
					<!--message_icon_wrapper ends-->
				</div>
				<!--top_wrapper_top_inner ends-->
			</div>
			<!--top_wrapper_top ends-->
			<!--top_wrapper_bottom-->
			<div id="top_wrapper_bottom">
				<!--topmenu_wrapper-->
				<div id="topmenu_wrapper">
					<!--topmenu_wrapper_inner-->
					<div id="topmenu_wrapper_inner">
						<!--top_menu-->
						<ul id="top_menu">
							<li>
								<%= link_to "Home", root_path, :class => "selected" %>
								<ul class="submenu">
									<li>
										<a href="#">Go global Home</a>
									</li>
									<li>
										<a href="#">Advertise on Go global</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="/user_profiles/home" >Profile</a>
								<ul class="submenu">
									<li>
										<a href="#">Edit Profile</a>
									</li>
									<li>
										<a href="/user_profiles/home">View profile</a>
									</li>
									<li>
										<a href="#">Recommendations</a>
									</li>
									<li>
										<a href="#">Profile Organizer</a>
									</li>
									<li>
										<a href="#">Following</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="/connections">Contacts</a>
								<ul class="submenu">
									<li>
										<a href="/connections">Connections</a>
									</li>
									<li>
										<a href="/user_profiles/connect_with_form/<%= current_user.id %>">Add Connections</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="/groups">Groups</a>
								<ul class="submenu">
									<li>
										<a href="#">Your Groups</a>
									</li>
									<li>
										<a href="#">Groups You May Like</a>
									</li>
									<li>
										<a href="/groups">Groups Directory</a>
									</li>
									<li>
										<a href="/groups/new">Create a Group</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#">Jobs</a>
								<ul class="submenu">
									<li>
										<a href="#">Find Jobs</a>
									</li>
									<li>
										<a href="#">Post a Job</a>
									</li>
									<li>
										<a href="#">Manage Your Jobs</a>
									</li>
									<li>
										<a href="#">Find Talent</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="/companies">Companies</a>
								<ul class="submenu">
									<li>
										<a href="/companies">Find Companies</a>
									</li>
									<li>
										<a href="#">Companies You Follow</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#">News</a>
								<ul class="submenu">
									<li>
										<a href="#">Go global Today</a>
									</li>
									<li>
										<a href="#">Original Content</a>
									</li>
									<li>
										<a href="#">Saved Articles</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#">More</a>
								<ul class="submenu">
									<li>
										<a href="#">Inbox</a>
									</li>
									<li>
										<a href="#">Invitations</a>
									</li>
									<li>
										<a href="#">Help Center</a>
									</li>
									<li>
										<a href="#">Answers</a>
									</li>
									<li>
										<a href="#">Skills & Expertise</a>
									</li>
									<li>
										<a href="#">Profile Views</a>
									</li>
								</ul>
							</li>
							<li id="last"></li>
						</ul>
						<!--top_menu ends-->
						<!--menu_inner_right-->
						<div id="menu_inner_right">
							<!--search_wrapper-->
							<div id="search_wrapper">
								<form action="" name="frmSearch" id="frmSearch" method="post">
									<input type="text" name="txtKeyword" id="txtKeyword" value="Search....." onfocus="if(this.value=='Search.....'){this.value='';this.style.color='#000000';}" onblur="if(this.value==''){this.value='Search.....';this.style.color='#999';}"/>
								</form>
							</div>
							<!--search_wrapper ends-->
							<!--searchbttn-->
							<div id="searchbttn">
								<select name="fancySelect" class="makeMeFancy">
									<!-- Notice the HTML5 data attributes -->
									<option value="0" selected="selected" data-skip="1" data-icon="/assets/Friends.png">Choose</option>
									<option value="1" data-icon="/assets/Friends.png" data-html-text="iPhone 4&lt;i&gt;in stock&lt;/i&gt;" title="sss" ></option>
									<option value="2" data-icon="/assets/jobs.png" data-html-text="iPod &lt;i&gt;in stock&lt;/i&gt;"></option>
									<option value="3" data-icon="/assets/updates.png" data-html-text="MacBook Air&lt;i&gt;out of stock&lt;/i&gt;"></option>
									<option value="3" data-icon="/assets/people.png" data-html-text="MacBook Air&lt;i&gt;out of stock&lt;/i&gt;"></option>
								</select>
							</div>
							<!--searchbttn ends-->
						</div>
						<!--menu_inner_right ends-->
					</div>
					<!--topmenu_wrapper_inner ends-->
				</div>
				<!--topmenu_wrapper ends-->
			</div>
			<!--top_wrapper_bottom ends-->
		</div>
		<!--top_wrapper-->
		<!--main_content_wrapper-->
		<%= yield %> <!--footer_wrapper-->
		<div id="footer">
			<div id="footer_inner">
				<ul id="footer_menu">
					<li>
						<%= link_to "Home", root_path %>
					</li>
					<li>
						<a href="/user_profiles/home">Profile</a>
					</li>
					<li>
						<a href="/connections">Contacts</a>
					</li>
					<li>
						<a href="#">Jobs</a>
					</li>
					<li>
						<a href="/companies">Companies</a>
					</li>
					<li>
						<a href="#">News</a>
					</li>
					<li>
						<a href="#">Help Center</a>
					</li>
					<li>
						<a href="#">Contact Us</a>
					</li>
				</ul>
				<div id="copyright">
					<a href="#" target="_new">Go global &copy;2013</a>
				</div>
			</div>
		</div>
		<!--footer_wrapper ends-->
		<script src="/assets/script.js"></script>
	</body>
</html>
